mixin technologies(technologies)
  section.technologies
    h2.technologies__title Technologies
    ul.technologies__list
      each tech in technologies.list
        li.technologies__list-item #{tech}
