// Variables

// Widths
$mobile-width: 320px;

// Colors
$color-text: #000000;
$color-text--heading: #222222;

// Typo
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
  sans-serif;
$font-family--heading: 'Oswald', 'Arial', sans-serif;
